<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alexey Kurochkin | Portfolio</title>
    <!-- font icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Steller main styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/steller.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<!-- Page navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                {% for p in projects %}
                    <li class="nav-item"><a class="nav-link" href="#{{ p.short_title }}">{{ p.short_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Home -->
<header class="header" id="home">
    <div class="container">
        <div class="infos">
            <h6 class="subtitle">hello, I'm</h6>
            <h6 class="title">Алексей Курочкин</h6>
            <p>Backend Developer</p>

            {# <div class="buttons pt-3"><button class="btn btn-primary rounded">Резюме (PDF)</button></div>#}

        </div>
    </div>
</header>

<!-- Skills -->
<section id="skills" class="section">
    <div class="container text-start">
        <br><h6 class="subtitle">Skills</h6><br>
        <div class="container text-start">
            {% for s in skills %}
                {% if not s.is_hidden %}
                    <div class="row justify-content-md-start">
                        {% if s.type == 'title' %}
                            <h6 class="section-title mb-5 mt-4">{{ s.text }}</h6>
                        {% elif s.type == 'progress_bar' %}
                            <div class="col-8">
                                <h6 class="mb-2">{{ s.text }}</h6>
                                <div class="progress">
                                    <div class="progress-bar text-dark" role="progressbar"
                                         style="width: {{ s.skill_score }}%;"
                                         aria-valuenow="{{ s.skill_score }}" aria-valuemin="0" aria-valuemax="100">
                                        <div style="font-size: 14px;background: {{ s.background }};">
                                            <b>{{ s.text_on_bar }}</b> уровень знаний
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


<!-- projects section -->
{% for p in projects %}
    <section id="{{ p.short_title }}" class="section">
        <div class="container text-start">
            <br><h6 class="subtitle">{{ p.short_title }}</h6>
            <br><h6 class="section-title mb-4">{{ p.title }}</h6>
            <div class="btn-group" role="group">
                {% if p.link_to_site == 'текущий сайт' %}
                    <a class="btn btn-outline-primary active">link to site</a>
                {% else %}
                    <a href="{{ p.link_to_site }}" type="button" class="btn btn-outline-primary">link to site</a>
                {% endif %}
                <a href="{{ p.link_to_code }}" type="button" class="btn btn-outline-primary">link to source code</a>
            </div>
            <br><br>{{ p.description | safe }}

            {# feetback #}
            <br><br><br>
            <form class="col-8" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="msg" rows="5" class="form-control"
                              placeholder="пару слов о проекте? буду рад любой обратной связи (что понравилось, что нет, что улучшить ...)"></textarea>
                </div>
                <div class="form-group">
                    <input name="email" class="form-control"
                           placeholder="email (не обязательно). но если добавите, то я Вам отвечу как исправлю замечания">
                </div>
                <input type="hidden" name="project" value="{{ p.title }}">
                <button type="submit" class="btn btn-outline-primary btn-block w-lg">Отправить</button>
            </form>
        </div>
    </section>
{% endfor %}

<!-- core  -->
<script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>
<!-- bootstrap 3 affix -->
<script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>
<!-- steller js -->
<script src="{% static 'assets/js/steller.js' %}"></script>

</body>
</html>
