.column-id {
    width: 250px;
}

.column-order {
    width: 10px;
}

.column-type {
    width: 10px;
}

.column-is_hidden {
    width: 10px;
}

.column-text {
    width: 10px;
}

.column-skill_score {
    width: 10px;
}

